.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 15px;
  border-bottom: 1px solid #f6f6f6;
  .header-lf {
    .collapse-icon {
      margin-right: 20px;
      font-size: 22px;
      cursor: pointer;
    }
  }
  .header-rt {
    margin: 0 30px;
  }
}
